__pycache__
*.ckpt
*.pth
/data
/exps
*.sh
!install_env.sh
/weights
/temp
/results
.ipynb_checkpoints/
/TODO.txt
/deprecated
/temp_scripts
/.vscode
/runs
/tests
/meta_files
.venv_test/
2308.15070v3.pdf
